body{
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(180, 180, 180) 75%);
}

a{
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#cena

#situacao{
    font-size: 50px;
    color: white;
    border-radius: 10%;
    border: thick solid black;

    position: absolute;
    top: 425px;
    left: 835px;

    background-color: rgb(27, 27, 27);
    padding: 16px;
    text-align: center;
}